body {background-image: url(file:///D:/OneDrive/Desktop/Academic_School/UCLA/Information%20Studies%20596/The%20Marvelous%20Other%20Website/Disability%20Images/Prof%20X%20Character%20Slide.png);
  background-size: cover; background-repeat: no-repeat;
}

h1{
color: white;
font-size: 40px;
}

h2{
  color: white;
  font-size: 35;
  line-height: 40px;

}

img {
  border: 2px solid none;
  width:400px;
  height: 200px;
  margin-left: -305px;
  padding-left:1050px;
  position: relative;
  top: -130px;
}
