body {background-image: url(file:///D:/OneDrive/Desktop/Academic_School/UCLA/Information%20Studies%20596/The%20Marvelous%20Other%20Website/Mental%20Illness%20images/Deadpool%20Character%20Slide.png);
background-repeat: no-repeat; background-position: center; background-size: cover;}


img {
  border: 2px solid none;
  width:500px;
  height: 350px;
  margin-left: -500px;
  padding-left:1915px;
  position: relative;
  top: -270px;
}

h1{
  color: white;
}

h2{
  color: white;
  line-height: 40px;
}
