body {background-image: url('Disability Images/Maya Lopez Character Slide.png');
   background-size: cover;background-repeat: no-repeat;
}

h1 {
  color: white;
  font-size: 50px;
}

h2{
  font-weight: normal;
  color: white;
  line-height: 40px;
}
img {
  border: 2px solid none;
  width:600px;
  height: 275px;
  margin-left: -180px;
  padding-left:900px;
  position: relative;
  top: -230px;
}
