body {background-image: url(file:///D:/OneDrive/Desktop/Academic_School/UCLA/Information%20Studies%20596/The%20Marvelous%20Other%20Website/Mental%20Illness%20images/Iron%20Man%20Character%20Slide.png);
background-repeat: no-repeat; background-size: cover;}



h2{
  color: white;
  font-weight: bold;
  line-height: 50px;
}

img {
  border: 2px solid none;
  width:600px;
  height: 275px;
  margin-left: -255px;
  padding-left:1100px;
  position: relative;
  top: -245px;
}
