body {background-image: url(file:///D:/OneDrive/Desktop/Academic_School/UCLA/Information%20Studies%20596/The%20Marvelous%20Other%20Website/Disability%20Images/Daredevil%20Character%20Slide.png);
background-size: cover; background-repeat: no-repeat;}

h1{
  color: white;
  font-size: 50px;

}

h2{
  color: white;
  line-height: 33px;
font-weight: bold;


}

img {
  border: 2px solid none;
  width:600px;
  height: 275px;
  margin-left:500px;
  padding-left:900px;
  position: relative;
  top: -260px;
}
