body {background-image:url('Race Images/Black Panther Character Slide 2.JPG');
  background-repeat: no-repeat; background-size: cover;
}

h1 {
  text-align: left;
  font-size: 35px;
}

h2{
  text-align: right;
font-weight: bold;
  margin-top: 95px;
  padding-left: 00px;
  color: white;
    line-height:50px;
    font-size: 30px;
}

img {
  border: 2px solid none;
  width:650px;
  height: 300px;
  margin-left: -250px;
  padding-left:950px;
  position: relative;
  top: -170px;
}
