body {background-image: url('Race Images/Shang-Chi Character Slide.png');
background-repeat: no-repeat; background-size: cover;
}

h1{
  color: white;
  font-size: 350%;
}


h2{
  color: white;
  font-size: 175%;
  line-height: 150%
}

img{
position: absolute;
height: 25%;
width: 25%;
top: 45.5%;
padding-left: 35%;
}
