body { background: url(file:///D:/OneDrive/Desktop/Academic_School/UCLA/Information%20Studies%20596/The%20Marvelous%20Other%20Website/Race%20Images/Character%20exhibit%20Ms.Marvel.png);
  background-repeat: no-repeat; background-size: cover;

}
}
body { width: 900px; }
h1 {

    text-align: left;
    padding-top: 20px;
    line-height:15px;
    font-size: 35px;
    min-width: 300px;
    margin-left: 10px;
    color: white;
}
h2 {
  text-align: left;
  padding-top: 15px;
  line-height: 45px;
  font-size: 30px;
  min-width: 100em;
  margin-left: 1em;
  font-weight: bold;
  color: white;
}

img {
  border: 2px solid none;
  width:600px;
  height: 275px;
  margin-left: -255px;
  padding-left:900px;
  position: relative;
  top: -250px;
}
