body {background-image: url('Race Images/Shang-Chi Character Slide.png');
background-repeat: no-repeat; background-size: cover;
}

h1{
  color: white;

}

h2{
  color: white;
  line-height: 35px;
}

img {
  border: 2px solid none;
  width:600px;
  height: 275px;
  margin-left: -255px;
  padding-left:900px;
  position: relative;
  top: -130px;
}
