body {background-image: url('Disability Images/Maya Lopez Character Slide.png');
   background-size: cover;background-repeat: no-repeat;
}

h1{
  color: white;
  font-size: 250%;
}


h2{
  color: white;
  font-size: 150%;
  line-height: 155%
}

img{
  position: absolute;
height: 25%;
width: 25%;
top: 59%;
padding-left: 40%;
}
