body {background-image:url(Images/Slide1.JPG);
background-repeat: no-repeat; background-size: contain; }


h1{
  font-size: 250%;
  text-align: center;
  padding-top: 20%;
  line-height: 55%;
  margin-left: 1%
}

h2{
  font-size: 200%;
  margin-left:45%;
}

img{
  margin-left: 75%;
  bottom: ;


}
