body { background: url(file:///D:/OneDrive/Desktop/Academic_School/UCLA/Information%20Studies%20596/The%20Marvelous%20Other%20Website/Images/The%20Marvelous%20Other%20Description.png);
  background-repeat: no-repeat; background-size: cover;
}


h1{
  padding-top: 300px;
  font-size: 45px;
}

h2 {
  position: absolute;
  margin-top: -100px;
  font-weight: normal;
  padding-top: 120px;
  line-height: 40px;
font-size: 30px;
}



img {
  border: 2px solid none;
  width:550px;
  height: 280px;
  margin-left: 1805px;
  padding-left:-2700px;
  position: relative;
  top: -250px;
}
