body {background-image: url(file:///D:/OneDrive/Desktop/Academic_School/UCLA/Information%20Studies%20596/The%20Marvelous%20Other%20Website/Disability%20Images/Hawkeye%20Character%20Slide.png);
background-repeat: no-repeat; background-size: cover;}

h1{
  color: white;
}

h2 {
  color: white;
  line-height: 40px;

}
img {
  border: 2px solid none;
  width:700px;
  height: 450px;
  margin-left: -350px;
  padding-left:1715px;
  position: relative;
  top: -365px;
}
