body {background-image: url('Images/The Marvelous Other Thematic Slides.png');
background-repeat: no-repeat; background-size: cover;
}

h1 {
  font-size: 300%;
  position: fixed;
  margin-top: 10%;
}

h2 {
  position: fixed;
  margin-top: 15%;
  font-weight: normal;
  line-height: 190%;

}
.image1
{
  position: fixed;
  object-fit: fill;
  margin-left:33%;
  padding-top: 12.5%;
  height:64.1%;
  width: 16.5%;

}
.image2
{
  position: fixed;
  object-fit:fill;
  margin-left:49%;
  padding-top: 12.5%;
  height: 64%;
  width: 17%;

}

.image3
{
  position:fixed;
  object-fit: fill;
  margin-left:66%;
  padding-top: 12.5%;
  height: 64%;
  width: 17%;
}

.image4{
position:fixed;
object-fit: fill;
margin-left:83%;
padding-top: 12.5%;
height: 64%;
width: 16.8%;

}
