body {background-image:url('./Race Images/Black Panther Character Slide 2.JPG');
  background-repeat: no-repeat; background-size: cover;
}

h1 {
  text-align: left;
  font-size: 350%;
}

h2{
color: white;
line-height: 170%;
font-weight: normal;
}

img {
  position: absolute;
  height: 23%;
  width: 25%;
  top:65%;
  margin-left: -25%;
  padding-left:62%;

}
