body { background: url('Images/The Marvelous Other Description.png');
  background-repeat: no-repeat; background-size: cover;
}


h1{
  padding-top: 12%;
  font-size: 300%;
}

h2 {
  position: absolute;

  font-weight: normal;
  padding-top: -5%;
  line-height: 135%;
  font-size: 190%;
}



.image1 {

  width:25%;
  height: 30%;
  margin-left: 76.2%;
  padding-top: 18.2%;


}
