body {background-image:url(Images/Slide1.JPG);
background-repeat: no-repeat; background-size: cover; }


h1{
  font-size: 250%;
  text-align: center;
  padding-top: 14.5%;
  line-height: 110%;
  margin-left: 1%

}

h2{
  font-size: 200%;
  margin-left:45%;
  line-height: 75%;
}

.image1{
  position: absolute;
  margin-left: 73.5%;
  ;
}
