body { background: url(file:///D:/OneDrive/Desktop/Academic_School/UCLA/Information%20Studies%20596/The%20Marvelous%20Other%20Website/Mental%20Illness%20images/Captain%20America%20Character%20Slide.jpg);
  background-repeat: no-repeat; background-size: cover;
}

h1{
  color: white;
}

h2{
  color: white;
}

img {
  border: 2px solid none;
  width:600px;
  height: 275px;
  margin-left: -255px;
  padding-left:1350px;
  position: relative;
  top: -90px;
