body {background-image: url(file:///D:/OneDrive/Desktop/Academic_School/UCLA/Information%20Studies%20596/The%20Marvelous%20Other%20Website/Images/Marvel.png);
background-repeat: no-repeat; background-size: cover; }




h1{
  font-size: 100px;
  text-align: center;
  padding-top: 200px;
}
