body { background: url('Images/The Marvelous Other Thematic Slides.png');
  background-repeat: no-repeat; background-size: cover;

}
h1 {
  font-size: 300%;
  position: absolute;
  margin-top: 8%;
}

h2 {
  position: absolute;
  margin-top: 13%;
  font-weight: normal;
  line-height: 140%;

}
.image1
{
  position: absolute;
  margin-left:33%;
  padding-top: 12.5%;
  height:64.1%;
  width: 16.5%;

}
.image2
{
  position: absolute;
  margin-left:49%;
  padding-top: 12.5%;
  height: 64.1%;
  width: 19%;

}

.image3
{
  position:absolute;
  margin-left:66%;
  padding-top: 12.5%;
  height: 64%;
  width: 17%;
}

.image4{
position:absolute;
margin-left:83%;
padding-top: 12.5%;
height: 64%;
width: 16.8%;

}
