body {background-image: url('Images/The Marvelous Other Thematic Slides.png');
background-repeat: no-repeat; background-size: cover;
}

h1 {
  font-size: 300%;
  position: absolute;
  margin-top: 10%;
}

h2 {
  position: absolute;
  margin-top: 15%;
  font-weight: normal;
  line-height: 190%;

}
.image1
{
  position: absolute;
  margin-left:33%;
  padding-top: 12.5%;
  min-height:64.1%;
  min-width: 16.5%;
  height: auto;
  width: auto;

}
.image2
{
  position: absolute;
  margin-left:49%;
  padding-top: 12.5%;
  min-height: 64.1%;
  min-width: 19%;
  height: auto;
  width: auto;

}

.image3
{
  position:absolute;
  margin-left:66%;
  padding-top: 12.5%;
  min-height: 64%;
  min-width: 17%;
  height: auto;
  width: auto;

}

.image4{
position:absolute;
margin-left:83%;
padding-top: 12.5%;
min-height: 64%;
min-width: 16.8%;
height: auto;
width: auto;


}
