body {background-image: url('Mental Illness images/Iron Man Character Slide.png');
background-repeat: no-repeat; background-size: cover;}



h2{
  color: white;
  font-weight: bold;
  line-height: 50px;
}

img {
  border: 2px solid none;
  width:600px;
  height: 275px;
  margin-left: -255px;
  padding-left:1100px;
  position: relative;
  top: -245px;
}
