body {background-image: url('Race Images/Captain Maravel Character Slide.png');
  background-repeat: no-repeat; background-size: cover;
}


img {
  position: absolute;
  width:25%;
  height: 40%;
  margin-left: 81%;
  top: 35%;
}

h1{
  color: white;
  font-size: 250%;
}


h2{
  color: white;
  text-align: left;
  padding-left: 65%;
  top: 55%;

}
