body { background: url('Mental Illness images/Moon Knight Character Slide.png');
  background-repeat: no-repeat; background-size: cover;

}

h1{
  color: white;
  font-size: 250%;
}


h2{
  color: white;
  font-size: 150%;
  line-height: 150%
}

img{
  position: absolute;
height: 25%;
width: 25%;
padding-top: 4.5%;
padding-left: 35%;
}
