body {background-image: url('Disability Images/Hawkeye Character Slide.png');
background-repeat: no-repeat; background-size: cover;}

h1{
  color: white;
}

h2 {
  color: white;
  line-height: 40px;

}
img {
  border: 2px solid none;
  width:700px;
  height: 450px;
  margin-left: -350px;
  padding-left:1715px;
  position: relative;
  top: -365px;
}
