body { background: url('Race Images/Character exhibit Ms.Marvel.png');
  background-repeat: no-repeat; background-size: cover;}
h1{
  color: white;
  font-size: 350%;
}


h2{
  color: white;
  font-size: 175%;
  line-height: 150%
}

img{
  position: absolute;
height: 25%;
width: 25%;
padding-top: 5.5%;
padding-left: 35%;
}
