body { background: url('Mental Illness images/Captain America Character Slide.jpg');
  background-repeat: no-repeat; background-size: cover;
}

h1{
  color: white;
}

h2{
  color: white;
}

img {
  border: 2px solid none;
  width:600px;
  height: 275px;
  margin-left: -255px;
  padding-left:1350px;
  position: relative;
  top: -90px;
