body {background-image: url(file:///D:/OneDrive/Desktop/Academic_School/UCLA/Information%20Studies%20596/The%20Marvelous%20Other%20Website/Race%20Images/Shang-Chi%20Character%20Slide.png); background-repeat: no-repeat; background-size: cover;
}

h1{
  color: white;

}

h2{
  color: white;
  line-height: 35px;
}

img {
  border: 2px solid none;
  width:600px;
  height: 275px;
  margin-left: -255px;
  padding-left:900px;
  position: relative;
  top: -130px;
}
