body {background-image: url(file:///D:/OneDrive/Desktop/Academic_School/UCLA/Information%20Studies%20596/The%20Marvelous%20Other%20Website/Disability%20Images/Daredevil%20Character%20Slide.png);
background-size: cover; background-repeat: no-repeat;}

h1{
  color: white;
  font-size: 250%;
}


h2{
  color: white;
  font-size: 150%;
  line-height: 148%
}

img{
  position: absolute;
height: 25%;
width: 25%;
top: 41%;
padding-left: 65%;
}
